.navbar-misu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffe7e7;
}
.navbar-misu ul{
    display: flex;
    gap: 35px;
}
.navbar-misu a{
    text-decoration: none;
    color: #4d0422;
    font-weight: 600;
}
.navbar-misu a:hover{
    color: #a10847;
}
.logo-misu{
    width: 150px;
    height: auto;
}
.iconlogin {
    text-decoration: none;
    color: #4d0422;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
   padding: 10px 20px;

}